@page
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@using Volo.Abp.Account.Localization
@using Volo.Abp.Account.Settings
@using Volo.Abp.AspNetCore.Mvc.UI.MultiTenancy.Localization
@using Volo.Abp.Settings
@using AspNetCore.ReCaptcha
@using PolpAbp.Presentation.Account.Web.Pages.Account
@model PolpAbp.Presentation.Account.Web.Pages.Account.EmailActivationModel
@inject IHtmlLocalizer<AccountResource> L
@{
    ViewBag.Title = "Account Activation Result";
    ViewBag.Description = "Displays the activation result after you clicks the account activation link from your email.";
}

<h4 class="mb-4 fw-semibold">
    @L["EmailActivation"]
</h4>
@if (Model.State == EmailActivationModel.ActivationState.Success)
{

    <h5>Your account is ready.</h5>

    <p>Please review your account information bewlow and use the button below to login.</p>

    <dl class="row">
        <dt class="col-sm-3">
            Email
        </dt>
        <dd class="col-sm-9">
            @Model.EmailName
        </dd>

        <dt class="col-sm-3">
            Tenant
        </dt>
        <dd class="col-sm-9">
            @Model.TenantName
        </dd>
    </dl>
}
else if (Model.State == EmailActivationModel.ActivationState.Already)
{

    <h5>Your account is ready.</h5>

    <p>YPlease follow the button below to login.</p>
}
else
{
    <div class="alert alert-danger d-flex align-items-center" role="alert">
        Something went wrong. Please contact your organization if this error persists.
    </div>
}

<a abp-button="Primary" asp-page="./Login"
   asp-all-route-data="@(new Dictionary<string, string> {{"returnUrl", Model.ReturnUrl ?? string.Empty}, {"returnUrlHash", Model.ReturnUrlHash ?? string.Empty}})">
    &larr; @L["BackToLogin"]
</a>

