@page
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@using Volo.Abp.Account.Localization
@using Volo.Abp.Account.Settings
@using Volo.Abp.AspNetCore.Mvc.UI.MultiTenancy.Localization
@using Volo.Abp.Settings
@using AspNetCore.ReCaptcha
@model PolpAbp.Presentation.Account.Web.Pages.Account.FindUserModel
@inject IHtmlLocalizer<AccountResource> L
@inject IHtmlLocalizer<AbpUiMultiTenancyResource> M
@{
    ViewBag.Title = "Locates Your Organization Information";
    ViewBag.Description = "Finds out your account information with your organization name.";
}

<h4 class="mb-4 fw-semibold">
    Locating your organization
</h4>

@if (Model.TenantList != null && Model.TenantList.Count > 0)
{
    <div class="alert alert-info d-flex align-items-center" role="alert">
        Please select one organization below
    </div>

    <form method="post">

        <abp-select asp-for="Selection.Id" label="@M["Tenant"].Value" />

        <div class="d-grid gap-2">
            <abp-button type="submit" button-type="Primary" name="Action" value="Selection" class="btn-lg mt-3">
                @L["Continue"]
                <span class="spinner-box"></span>
            </abp-button>
            <abp-button type="submit" button-type="Secondary" formnovalidate="formnovalidate"
                    name="Action" value="Cancel" class="btn-lg mt-3">
                @L["Back"]
            </abp-button>
        </div>
    </form>
}
else
{
    <div class="alert alert-info d-flex align-items-center" role="alert">
        Please type your organization name
    </div>

    <form method="post">

        <abp-input asp-for="Input.TenantName" auto-focus="true"
               label="@L["DisplayName:TenantName"].Value" autocomplete="organization" />

        @if (Model.IsRecaptchaEnabled)
        {
            <div class="mb-3">
                @Html.ReCaptcha()
            </div>
        }

        <div class="d-grid gap-2">
            <abp-button type="submit" button-type="Primary" name="Action" value="Input" class="btn-block btn-lg mt-3">
                @L["Continue"]
                <span class="spinner-box"></span>
            </abp-button>
            <abp-button type="submit" button-type="Secondary" formnovalidate="formnovalidate"
                    name="Action" value="Cancel" class="btn-lg mt-3">
                @L["Back"]
            </abp-button>
        </div>
    </form>
}

<div class="d-flex flex-column align-items-start mt-5 mb-3">
    <h6>Helpful links</h6>
    <ul>
        <li>
            <a class="btn btn-link fst-italic" href="@Url.Page("./Register")">@L["Register"]</a>
        </li>
    </ul>
</div>