@page
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@using Volo.Abp.Account.Localization
@using Volo.Abp.Account.Settings
@using Volo.Abp.AspNetCore.Mvc.UI.MultiTenancy.Localization
@using Volo.Abp.Settings
@using AspNetCore.ReCaptcha
@model PolpAbp.Presentation.Account.Web.Pages.Account.FindOrganizationModel
@inject IHtmlLocalizer<AccountResource> L
@inject IHtmlLocalizer<AbpUiMultiTenancyResource> M
@{
    ViewBag.Title = "Sign in to FormLang - Find Your Organization";
    ViewBag.Description = "Securely access your team's workspace on FormLang. Find & select your organization to log in quickly.";
    ViewBag.ShowAppTitle = true;
    ViewBag.HideTenancyView = true;
}

<h4 class="mb-3 fw-semibold">
    Find Your Organization
</h4>

@if (Model.TenantList != null && Model.TenantList.Count > 0)
{
    <p>
       Select your organization 
    </p>

    <form method="post">

        <abp-select asp-for="Selection.Id" label="@M["Tenant"].Value" />

        <div class="d-grid gap-2">
            <abp-button type="submit" button-type="Primary" name="Action" value="Selection" class="mt-3">
                @L["Continue"]
                <span class="spinner-box"></span>
            </abp-button>
        </div>
    </form>
}
else
{
    <p>
        Please type your organization name
    </p>

    <form method="post" spellcheck="false">

        <abp-input asp-for="Input.TenantName" auto-focus="true"
               label="@L["DisplayName:TenantName"].Value" autocomplete="organization" />

        @if (Model.IsRecaptchaEnabled)
        {
            <div class="mb-3">
                @Html.ReCaptcha()
            </div>
        }

        <div class="d-grid gap-2">
            <abp-button type="submit" button-type="Primary" name="Action" value="Input" class="btn-block mt-3">
                @L["Continue"]
                <span class="spinner-box"></span>
            </abp-button>
        </div>
    </form>
}