@page
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@using Volo.Abp.Account.Localization
@using Volo.Abp.Account.Settings
@using Volo.Abp.AspNetCore.Mvc.UI.MultiTenancy.Localization
@using Volo.Abp.Settings
@using AspNetCore.ReCaptcha
@using System.Web
@model PolpAbp.Presentation.Account.Web.Pages.Account.LocalLoginModel
@inject IHtmlLocalizer<AccountResource> L
@{
    ViewBag.Title = "Login (Username/Password)";
    ViewBag.Description = "Log in to your account using your username and password.";
    ViewBag.Keywords = "login, sign in, account, username, email, password";
    ViewBag.ShowResetButton = true;

    var reActivationLink = Url.Page("./ResendActivationLink", new
    {
        UserName = Model.Input.IsUsingEmailAddress ? string.Empty : Model.Input.UserNameOrEmailAddress,
        EmailAddress = Model.Input.IsUsingEmailAddress ? Model.Input.UserNameOrEmailAddress : string.Empty
    });

    var forgotPwdLink = Url.Page("./ForgotPassword", new
    {
        UserName = Model.Input.IsUsingEmailAddress ? string.Empty : Model.Input.UserNameOrEmailAddress,
        EmailAddress = Model.Input.IsUsingEmailAddress ? Model.Input.UserNameOrEmailAddress : string.Empty,
        returnUrl = Model.ReturnUrl,
        returnUrlHash = Model.ReturnUrlHash
    });
}

<h4 class="mb-4 fw-semibold">
    Login
</h4>

<div class="alert alert-info d-flex align-items-center" role="alert">
    <div>
        Please type your password to continue
    </div>
</div>

<form method="post">

    <input asp-for="Input.IsUsingEmailAddress" type="hidden" autocomplete="off" />

    @if (Model.Input.IsUsingEmailAddress)
    {
        <div class="mb-3">
            <label class="form-label">@L["DisplayName:EmailAddress"] <span class="text-danger ms-1">*</span> </label>
            <input asp-for="Input.UserNameOrEmailAddress" class="form-control" autocomplete="email" type="email">
            <span asp-validation-for="Input.UserNameOrEmailAddress" class="text-danger"></span>
        </div>
    }
    else
    {
        <div class="mb-3">
            <label class="form-label">@L["DisplayName:UserName"] <span class="text-danger ms-1">*</span></label>
            <input asp-for="Input.UserNameOrEmailAddress" class="form-control" autocomplete="username">
            <span asp-validation-for="Input.UserNameOrEmailAddress" class="text-danger"></span>
        </div>
    }

    <div class="mb-3" id="password-wrapper">
        <label asp-for="Input.Password" class="form-label"></label>
        <div class="input-group">
            <input asp-for="Input.Password" class="form-control" data-auto-focus="true" autocomplete="current-password" />
            <button type="button" class="toggle-password btn btn-outline-secondary">
                <i class="toggle-icon fa fa-eye"></i>
            </button>
        </div>
        <span asp-validation-for="Input.Password" class="text-danger"></span>
    </div>


    <abp-row class="mb-3">
        <abp-column>
            <abp-input asp-for="Input.RememberMe" />
        </abp-column>
        <abp-column class="text-end">
            <a href="@forgotPwdLink">@L["ForgotPassword"]</a>
        </abp-column>
    </abp-row>

    @if (Model.IsRecaptchaEnabled)
    {
        <div class="mb-3">
            @Html.ReCaptcha()
        </div>
    }

    <div class="d-grid gap-2">
        <abp-button type="submit" button-type="Primary" name="Action" value="Input">
            @L["Continue"]
            <span class="spinner-box"></span>
        </abp-button>
        <abp-button type="submit" button-type="Secondary" formnovalidate="formnovalidate" name="Action" value="Cancel">
            @L["Back"]
        </abp-button>
    </div>
</form>

<!-- todo: Add a condition -->
<div class="d-flex flex-column align-items-start mt-5 mb-3">
    <h6>Helpful links</h6>
    <ul>
        <li>
            <a class="btn btn-link fst-italic" href="@reActivationLink">@L["ResendActivationLink"]</a>
        </li>
    </ul>
</div>