@page "/account/verify-password"
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@using Volo.Abp.Account.Localization
@using Volo.Abp.Account.Settings
@using Volo.Abp.AspNetCore.Mvc.UI.MultiTenancy.Localization
@using Volo.Abp.Settings
@using AspNetCore.ReCaptcha
@using System.Web
@model PolpAbp.Presentation.Account.Web.Pages.Account.LocalLoginModel
@inject IHtmlLocalizer<AccountResource> L
@{
    ViewBag.Title = "Sign In (Username/Password)";
    ViewBag.Description = "Log in to your account using your username and password.";
    ViewBag.Keywords = "login, sign in, account, username, email, password";
    ViewBag.ShowResetButton = true;

    var reActivationLink = Url.Page("./ResendActivationLink", new
    {
        IsUsingUserName = Model.IsUsingUserName,
        UserName = Model.UserName, 
        EmailAddress = Model.EmailAddress
    });

    var forgotPwdLink = Url.Page("./ForgotPassword", new
    {
        IsUsingUserName = Model.IsUsingUserName,
        UserName = Model.UserName,
        EmailAddress = Model.EmailAddress
    });
}

@if (Model.ShowActivationLink)
{
    <div class="alert alert-danger">
        <p>
            To keep things secure,
            we need you to activate your account using the link in the email we sent you. Didn't see it? No worries! We can send you a new activation email right away.
        </p>
        <p>
            Click <a href="@reActivationLink">here</a> to request a new activation email.
        </p>
        <p>
            Once you've activated your account, you can come back here and sign in!
        </p>
    </div>
}

<h1 class="mb-1 h3">
    Enter Password
</h1>
<div class="mb-4">
    <a href="@Url.Page("./Login")">
        <i class="fas fa-chevron-left me-1"></i>Back
    </a>
</div>

<p>
    Great to see you again, <b>@(Model.IsUsingUserName ? Model.NormalizedUserName : Model.NormalizedEmailAddress)</b>.
    Please enter your password to sign in. <a href="@forgotPwdLink">@L["ForgotPassword"]</a>
</p>

<form method="post">
    <div class="mb-3" id="password-wrapper">
        <label for="Input_Password" class="form-label">@L["DisplayName:Password"]<span class="text-danger ms-1">*</span></label>
        <div class="input-group">
            <input asp-for="Input.Password" class="form-control" data-auto-focus="true" autocomplete="current-password" />
            <button type="button" class="toggle-password btn btn-outline-secondary">
                <i class="toggle-icon fa fa-eye"></i>
            </button>
        </div>
        <span asp-validation-for="Input.Password" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <abp-input asp-for="Input.RememberMe" />
    </div>

    @if (Model.IsRecaptchaEnabled)
    {
        <div class="mb-3">
            @Html.ReCaptcha()
        </div>
    }

    <div class="d-grid gap-2">
        <abp-button type="submit" button-type="Primary" name="Action" value="Input">
            @L["Continue"]
            <span class="spinner-box"></span>
        </abp-button>
        <a abp-button="Secondary" asp-page="/Account/Login">
            Cancel
        </a>
    </div>
</form>