@page "/account/sign-in"
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@using Volo.Abp.Account.Localization
@using Volo.Abp.Account.Settings
@using Volo.Abp.AspNetCore.Mvc.UI.MultiTenancy.Localization
@using Volo.Abp.MultiTenancy
@using Volo.Abp.Settings
@using AspNetCore.ReCaptcha
@using System.Web
@model PolpAbp.Presentation.Account.Web.Pages.Account.LoginModel
@inject IHtmlLocalizer<AccountResource> L

@{
    ViewBag.Title = "Sign In";
    ViewBag.Description = "Sign in with your username/email or use SSO to log in quickly and easily";
    ViewBag.Keywords = "login, sign in, account, SSO, username, email, password";
    ViewBag.HideTenancyView = false;


    var reActivationLink = Url.Page("./ResendActivationLink", new
    {
        UserName = Model.Input.IsUsingUserName ? Model.Input.UserName : string.Empty,
        EmailAddress = Model.Input.IsUsingUserName ? string.Empty : Model.Input.EmailAddress
    });
}

@section docReady {
    <script type="text/javascript">
        const tenantId = '@Model.TenantId?.ToString()';
        const returnUrl = '@(Model.ReturnUrl)';
        const returnUrlHash = '@(Model.ReturnUrlHash)';
        const initEmail = '@(Model.Input.EmailAddress)';
        const initUserName = '@(Model.Input.UserName)';
        const isRecaptchaVisible = @Model.IsRecaptchaEnabled.ToString().ToLower();
        Lockr.prefix = 'lockr_';

        function AppViewModel() {
            var self = this;

            self.optionsVisible = ko.observable(false);
            self.users = ko.observable([]);
            self.isUsingUserName = ko.observable(@Model.Input.IsUsingUserName.ToString().ToLower());
            
            self.formVisible = ko.pureComputed(function () {
                return !self.optionsVisible();
            });
            self.hasUserOptions = ko.pureComputed(function () {
                return self.users().length && self.formVisible();
            });
            self.isUsingEmail = ko.pureComputed(function () {
                return !self.isUsingUserName();
            });
            self.hasNoUserOptions = ko.pureComputed(function () {
                return !self.hasUserOptions();
            });
        }

        const viewModel = new AppViewModel();
        ko.applyBindings(viewModel);

        function refreshUserOptions(initState) {
            let users = Lockr.get('users');
            if (users && users.length) {
                let a = users.filter(x => x.tenantId == tenantId)
                .map(x => {
                    return {
                        email: x.email,
                        userName: x.userName,
                        tenantId: x.tenantId,
                        lastUpdated: $.timeago(new Date(x.lastUpdated))
                    }
                });
                viewModel.users(a);
                if (initState != undefined) {
                    viewModel.optionsVisible(initState);
                }
            } else {
                viewModel.users([]);
                viewModel.optionsVisible(false);
            }
        }

        function switchToUserName(username) {
            viewModel.isUsingUserName(true);
            setTimeout(() => {
                if (username) {
                    $('#Input_UserName').val(username);
                } else {
                    const a = $('#Input_UserName').val();
                    if (a == '__dummy') {
                        $('#Input_UserName').val('');
                    }
                }

                const b = $('#Input_EmailAddress').val();
                if (!b) {
                    $('#Input_EmailAddress').val('__dummy@dummy.net');
                }

                $('#Input_UserName').focus();
            });
        }

        function switchToEmailAddress(email) {
            viewModel.isUsingUserName(false);
            setTimeout(() => {
                if (email) {
                    $('#Input_EmailAddress').val(email);
                } else {
                    const a = $('#Input_EmailAddress').val();
                    if (a == '__dummy@dummy.net') {
                        $('#Input_EmailAddress').val('');
                    }
                }

                const b = $('#Input_UserName').val();
                if (!b) {
                    $('#Input_UserName').val('__dummy');
                }

                $('#Input_EmailAddress').focus();
            });
        }

        $(document).ready(() => {

            // Check if we have the right version
            let system = Lockr.get('system');
            if (!system || !system.version || system.version != 1) {
                Lockr.flush();

                system = {
                    version: 1
                };
                Lockr.set('system', system);
            }

            $(".card").on('click', 'a.delete-me', (evt) => {
                const $target = $(evt.target).closest('a');
                const email = $target.data('email');
                if (email) {
                    let users = Lockr.get('users');
                    if (users) {
                        users = users.filter(a => !(a.email.toLowerCase() == email.toLowerCase() && a.tenantId == tenantId));
                        Lockr.set('users', users);
                        refreshUserOptions(true);
                    }
                } else {
                    const userName = $target.data('username');
                    if (userName) {
                        let users = Lockr.get('users');
                        if (users) {
                            users = users.filter(a => !(a.userName.toLowerCase() == userName.toLowerCase() && a.tenantId == tenantId));
                            Lockr.set('users', users);
                            refreshUserOptions(true);
                        }
                    }
                }
            });

            $(".card").on('click', 'a.pick-me', (evt) => {
                const $target = $(evt.target).closest('a');
                const email = $target.data('email');
                if (email) {
                    viewModel.optionsVisible(false);
                    switchToEmailAddress(email);
                } else {
                    const userName = $target.data('username');
                    viewModel.optionsVisible(false);
                    switchToUserName(userName);
                }
            });

            $(".card").on('click', 'a.new-account', () => {
                viewModel.optionsVisible(false);
            });

            $(".card").on('click', 'a.go-back', () => {
                viewModel.optionsVisible(true);
            });

            $('#Input_IsUsingUserName').change(
                function () {
                    if (this.checked) {
                        switchToUserName();
                    } else {
                        switchToEmailAddress();
                    }
                });

            refreshUserOptions(!(initEmail || initUserName));
            if (initEmail) {
                switchToEmailAddress(initEmail);
            } else if (initUserName) {
                switchToUserName(initUserName);
            } else if (viewModel.users().length == 0) {
                switchToEmailAddress('');
            }

            // Update time
            setInterval(() => {
                refreshUserOptions(undefined);
            }, 60 * 1000);

            // Remove the spinner 
            $('#globalSpinner').remove();
        });
    </script>
}

<h1 class="mb-1 h3">Sign In</h1>
<div class="mb-4" data-bind="visible: hasUserOptions">
    <a class="go-back" style="cursor:pointer;">
        <i class="fa fa-chevron-left me-1"></i>Back
    </a>
</div>
<div class="mb-4" data-bind="visible: hasNoUserOptions">
    <a  href="@Url.Page("./FindOrganization")">
        <i class="fas fa-chevron-left me-1"></i>Back
    </a>
</div>

<!-- Pick an account -->
<div class="pick-one-account" data-bind="visible: optionsVisible">
    <p>
        Welcome back!
        We've found your most recently used accounts. Click your account to sign in, or click "Use a differnt account" to sign in with a different account.
    </p>
    <ul class="list-unstyled" data-bind="foreach: users">
        <li class="d-flex mb-4 border-bottom" data-bind="ifnot: $parent.isUsingUserName">
            <div class="flex-xl-shrink-0">
                <i class="far fa-user-circle fa-2x"></i>
            </div>
            <div class="flex-grow-1 ms-3">
                <div class="d-flex flex-row justify-content-between mb-0">
                    <a class="pick-me" style="cursor: pointer; text-decoration: none;" data-bind="attr: {'data-email': email}">
                        <h6 data-bind="text: email" class="text-dark">
                        </h6>
                        <p class="text-muted">
                            Last login: <span data-bind="text: lastUpdated"></span>
                        </p>
                    </a>
                    <a class="delete-me text-danger px-2" style="cursor:pointer;" data-bind="attr: {'data-email': email}">
                        <i class="fas fa-trash"></i>
                    </a>
                </div>
            </div>
        </li>
        <li class="d-flex mb-4 border-bottom" data-bind="if: $parent.isUsingUserName">
            <div class="flex-xl-shrink-0">
                <i class="far fa-user-circle fa-2x"></i>
            </div>
            <div class="flex-grow-1 ms-3">
                <div class="d-flex flex-row justify-content-between mb-0">
                    <a class="pick-me" style="cursor: pointer; text-decoration: none;" data-bind="attr: {'data-username': userName}">
                        <h6 data-bind="text: userName" class="text-dark">
                        </h6>
                        <p class="text-muted">
                            Last login: <span data-bind="text: lastUpdated"></span>
                        </p>
                    </a>
                    <a class="delete-me text-danger px-2" style="cursor:pointer;" data-bind="attr: {'data-username': userName}">
                        <i class="fas fa-trash"></i>
                    </a>
                </div>
            </div>
        </li>
    </ul>
    <ul class="list-unstyled">
        <li class="d-flex mb-4">
            <div class="flex-xl-shrink-0">
                <i class="fas fa-plus-circle fa-2x"></i>
            </div>
            <div class="flex-grow-1 ms-3">
                <a class="h6 new-account pe-5" style="cursor: pointer">
                    Use a differnt account
                </a>
            </div>
        </li>
    </ul>
</div>


<div data-bind="visible: formVisible">

    <p data-bind="visible: isUsingUserName">
        Let's find your account! Enter your username and click 'Continue'.
    </p>

    <p data-bind="visible: isUsingEmail">
        Let's find your account! Enter your email address and click 'Continue'.
    </p>

    <form method="post">

        <div class="mb-3" data-bind="visible: isUsingUserName">
            <label for="Input_UserName" class="form-label">@L["DisplayName:UserName"]<span class="text-danger ms-1">*</span></label>
            <input asp-for="Input.UserName" class="form-control" autocomplete="username" />
            <span asp-validation-for="Input.UserName" class="text-danger"></span>
        </div>

        <div class="mb-3" data-bind="visible: isUsingEmail">
            <label for="Input_EmailAddress" class="form-label">@L["DisplayName:EmailAddress"]<span class="text-danger ms-1">*</span></label>
            <input asp-for="Input.EmailAddress" class="form-control" autocomplete="email" type="email" />
            <span asp-validation-for="Input.EmailAddress" class="text-danger"></span>
        </div>

        <div class="form-check mb-3">
            <input asp-for="Input.IsUsingUserName" class="form-check-input" type="checkbox" aria-describedby="IsUsingUserNameHelp">
            <label class="form-check-label" for="Input_IsUsingUserName">
                Enable username lookup
            </label>
            <div id="IsUsingUserNameHelp" class="form-text">
                Switch to search by Username (otherwise, search by email).
            </div>
        </div>

        <div class="d-grid gap-2">
            <abp-button type="submit" button-type="Primary" name="Action" value="Input" class="mt-3">
                @L["Continue"]
                <span class="spinner-box">
                </span>
            </abp-button>
        </div>
    </form>
</div>    

<div class="mt-4">
    <h2 class="h5">New to your organization? Don't have an account?</h2>
    <p>
        Sign up now to unlock all the powerful features of FormLang and collaborate seamlessly with your team.
    </p>

    <div class="d-grid gap-2">
        <a class="btn btn-outline-primary" href="@Url.Page("/Account/MemberRegister", new { AutoRedirect = true })">
            Join Now
        </a>
    </div>
</div>

<div id="globalSpinner" class="modal-spinner position-absolute top-0 w-100 h-100 bg-light bg-opacity-75 text-center">
    <div class="spinner-border position-relative top-50" role="status">
        <span class="visually-hidden">Loading ...</span>
    </div>
</div>