@page "/organization/sign-up"
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@using Volo.Abp.Account.Localization
@using Volo.Abp.Account.Settings
@using Volo.Abp.AspNetCore.Mvc.UI.MultiTenancy.Localization
@using Volo.Abp.Settings
@using AspNetCore.ReCaptcha
@model PolpAbp.Presentation.Account.Web.Pages.Account.RegisterModel
@inject IHtmlLocalizer<AccountResource> L
@{
    ViewBag.Title = "Organization Registration";
    ViewBag.Description = "Register your organization today to access all of our features and benefits.";
    ViewBag.keywords = "organization registration,user management,access control,audit logs,events,subscriptions,organization structure,form design,form publication,form flow,workflow";
    ViewBag.HideTenancyView = true;
}

<h4 class="mb-2 fw-semibold">
    Create your organization account
</h4>
<div class="mb-4 ms-2">
    @L["AlreadyRegistered"]
    <a href="@Url.Page("./Login")">@L["Login"]</a>
</div>

<div class="progress">
    <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="50" class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" style="width: 33%"></div>
</div>


<form method="post" class="py-4" spellcheck="false">
    <h5 class="mb-4">
        <span class="badge bg-dark me-1">1/3</span>
        First, please provide your organization information as below
    </h5>

    <abp-input asp-for="Input.TenantName" auto-focus="true" autocomplete="organization" />

    <div class="d-grid gap-2">
        <abp-button type="submit" button-type="Primary" name="Action" value="Input" class="mt-3">
            @L["Continue"]
            <span class="spinner-box"></span>
        </abp-button>
    </div>

</form>

<div class="d-flex flex-column align-items-start mt-5 mb-3">
    <h6>@L["Page:HelpfulLinks"]</h6>
    <ul>
        <li>
            <a class="btn btn-link fst-italic" href="@Url.Page("./Login")">@L["Login"]</a>
        </li>
    </ul>
</div>