@page
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@using Volo.Abp.Account.Localization
@using Volo.Abp.Account.Settings
@using Volo.Abp.AspNetCore.Mvc.UI.MultiTenancy.Localization
@using Volo.Abp.Settings
@using AspNetCore.ReCaptcha
@model PolpAbp.Presentation.Account.Web.Pages.Account.ResetPasswordModel
@inject IHtmlLocalizer<AccountResource> L
@{
    ViewBag.Title = "Resets Your Passowrd";
    ViewBag.Description = "Resets your password after you clicks the reset password link.";
}

<h4 class="mb-4 fw-semibold">
    @L["ResetPassword"]
</h4>

<div class="alert alert-info">
    @L["ResetPassword_Information"]
</div>

<form method="post">

    <abp-input asp-for="UserId" />
    <abp-input asp-for="ResetToken" />

    <div class="mb-3" id="password-wrapper">
        <label asp-for="Password" class="form-label"></label>
        <div class="input-group">
            <input asp-for="Password" class="form-control" data-auto-focus="true" autocomplete="new-password" />
            <button type="button" class="toggle-password btn btn-outline-secondary">
                <i class="toggle-icon fa fa-eye"></i>
            </button>
        </div>
    </div>

    <abp-input asp-for="ConfirmPassword" autocomplete="off" />

    <div class="d-grid gap-2">
        <abp-button type="submit" button-type="Primary">
            @L["Submit"]
            <span class="spinner-box"></span>
        </abp-button>
        <a abp-button="Secondary" asp-page="./Login">
            @L["Cancel"]
        </a>
    </div>
</form>

<div class="d-flex flex-column align-items-start mt-5 mb-3">
    <h6>Helpful links</h6>
    <ul>
        <li>
            <a class="btn btn-link fst-italic" asp-page="./Login">@L["Login"]</a>
        </li>
    </ul>
</div>